<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default title{% endblock title %}</title>
</head>
<body>
    <div id="wrapper">
		<div id="header">
			<div id="menu">
				<a href="/add_user" class="active">Форма заполнения</a>
				<a href="/add_role" class="active">Форма заполнения ролей</a>
				<a href="/users" class="active">Список</a>
				<a href="/roles" class="active">Список ролей</a>
				
			</div>
		</div>
		<div id="container">
			<div id="content">
				{% block content %} content {% endblock content %}
			</div>
		</div>
		<div id="footer">
		</div>
	</div>
</body>
</html>